.textBox {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #95989a;
   }
    .control {
    display: grid;
    background-color:white;
    border-radius: 10px;
    padding: 8px 20px;
   }
   .btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
   }
   .textArea{
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px #95989a;
   }


  h1{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
img {
  width: 45px;
}

