<div class="container-fluid">
<div class="row">
<div class="col-md-2 sidenav">
  <div *ngIf="auth.authenticated && !auth.authenticatedAdmin()">
    <a *ngIf="auth.authenticated && !auth.authenticatedAdmin()" routerLink="/notificationjobdriver">แจ้งเตือนงาน</a>
    <hr>
    <a *ngIf="auth.authenticated && !auth.authenticatedAdmin()" routerLink="/pendingjobdriver">รอดำเนินการ</a>
    <hr>
    <a *ngIf="auth.authenticated && !auth.authenticatedAdmin()" routerLink="/proceedjobdriver">กำลังดำเนินการ</a>
    <hr>
    <a *ngIf="auth.authenticated && !auth.authenticatedAdmin()" routerLink="/proceededjobdriver">ดำเนินการแล้ว</a>
    <hr>
  </div>
</div>
<div class="col-md-10">
<h3><img class="icons" src="https://image.flaticon.com/icons/svg/1632/1632599.svg" />ดำเนินการแล้ว</h3>
<div class="overflow-auto">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">source</th>
      <th scope="col">destination</th>
      <th scope="col">worktype</th>
      <th scope="col">customerFirstname</th>
      <th scope="col">workDate</th>
      <th scope="col">workTime</th>
      <th scope="col">customerPhone</th>
      <th scope="col">customerLine</th>
      <th scope="col">detail</th>
      <th scope="col">status</th>
      <th scope="col">driver</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of job">
      <td>{{ data.value.source }}</td>
      <td>{{ data.value.destination }}</td>
      <td>{{ data.value.worktype }}</td>
      <td>{{ data.value.customerFirstname }}</td>
      <td>{{ data.value.workDate.day }} /{{ data.value.workDate.month}} / {{data.value.workDate.year }}</td>
      <td>{{ data.value.workTime.hour}}:{{ data.value.workTime.minute}} น. </td>
      <td>{{ data.value.customerPhone }}</td>
      <td>{{ data.value.customerLine }}</td>
      <td>{{ data.value.detail }}</td>
      <td>{{ data.value.status }}</td>
      <td>{{ data.value.driver }}</td>
      <td>
        <button type="button" (click)="delJob(data)">Delete</button>
        <button type="button" (click)="editJob(data)">Submit</button>
      </td>
      <!-- <td>
                <select>
                    <option value="">------</option>
                    <option [ngValue]="data2" *ngFor="let data2 of car">
                        {{ data2.value.carId }}
                    </option>
                </select>
            </td> -->
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

