
 .btn.edit {
      background-color: #d0cfcf;
   }
h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 8px;
    /* margin-top: 60px; */
  }
.icons {
  width: 45px;
}





 .space {
   margin-bottom: 20px;
 }
 th {
  text-align: center;
}
thead {
  background-color: white;
}
td {
  text-align: center;
}
table {
  background-color: white;
}

.showimg{
  background-color:  #abc;
  border-radius: 5px;
  padding: 8px 20px;

}
.control {
  display: grid;
  background-color: white;
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 8px;

}
.area{
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px){
  .size{
    width: 350px;
    height: 250px;
  }
  .rows {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }
  .box{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .form{
    display: block;
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  }

  @media (max-width: 575.98px) {
    .form{
    display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s
    }

  }
.but{
  position: relative;
    left: 45%;
}
@media (max-width: 575.98px) {
  .rows {
    display: grid;
    margin-right: -15px;
    margin-left: -15px;
  }
.size{
  width: 250px;
  height: 200px;
}
}
