
.card {
  margin-right: 240px;
}

input {
   width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
}

 .btn.edit {
      background-color: #d0cfcf;
   }
h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
.icon {
  width: 45px;
}
