<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <img
          class="icons"
          src="https://image.flaticon.com/icons/svg/2101/2101321.svg"
        />
        ประเภทรถ
      </h3>
      <div class="card">
        <div class="card-body row">
          <div class="col-md">
            <!-- <button
            class="btn icon"
            (click)="goToManageCar()">
            <i class="fas fa-tasks"></i> ไปที่หน้าจัดการข้อมูลรถ
          </button>
            <br />
            <button
              style="width: 150px;"
              (click)="openAddCarType()"
              [ngStyle]="{ 'background-color': color }"
              class="btn submit space"
            >
              เพิ่มประเภทรถ
            </button> -->

            <form
              *ngIf="showAddCarType"
              (ngSubmit)="addCarType(carType)"
              #carType="ngForm"
            >
            <div class="container">
              <div class="row">
                <div class="col-md">
            <div class="box">
            <label>ประเภทรถ</label>
              <input
                class="form"
                type="text"
                name="carType"
                ngModel
                [(ngModel)]="updateNameCarType[1]"
                disabled
              />
            </div>
          </div>
          <div class="col-md">
            <div class="box">
              <label>สถานะ</label>
              <select
                id="status"
                class="form"
                name="status"
                ngModel
                [(ngModel)]="updateNameCarType[2]"
              >
                <option value="พร้อมใช้งาน">พร้อมใช้งาน</option>
                <option value="ไม่พร้อมใช้งาน">ไม่พร้อมใช้งาน</option>
                >
              </select>
            </div>
          </div>
          </div>
          </div>
              <button
                [ngStyle]="{ 'background-color': color }"
                type="submit"
                class="btn submit space but"
                style="margin-top: 20px;"
              >
                บันทึก
              </button>
            </form>
            <!-- <button
              *ngIf="showAddCarType"
              class="btn submit space"
              (click)="resetCarType()"
            >
              reset
            </button> -->
            <div class="overflow-auto">
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th scope="col">source</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of carType">
                    <td>{{ data.value.carType }}</td>
                    <td>{{ data.value.status }}</td>
                    <td>
                      <button
                        class="btn icon"
                        (click)="updateCarType(data)"
                        placement="bottom"
                        ngbTooltip="แก้ไข"
                      >
                        <i class="far fa-edit"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="control">
      <div *ngFor="let dataCarType of carType">
        <div *ngIf="dataCarType.value.status === 'พร้อมใช้งาน'">
          <br>
          <h4 *ngIf="dataCarType.value.status === 'พร้อมใช้งาน'">
            {{ dataCarType.value.carType }}
          </h4>
          <div *ngFor="let i of dataCarType.value.count2" class="rows">
            <div *ngFor="let data of dataCarType.value.list">
              <ng-template #deleteImg2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-basic-title">
                    ต้องการลบหรือไม่?
                  </h5>

                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="d('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="text-center">
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn  save"
                      (click)="deleteImageType1(data)"
                      (click)="d('Cross click')"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="btn  save"
                      (click)="d('Cross click')"
                    >
                      No
                    </button>
                  </div>
                </div>
              </ng-template>



              <div *ngIf="i * 3 === data[0].index">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>
              <!-- ฟังก์ชันลบรูป (click)="openDeleteImage(deleteImg2)" -->

            <!-- <div class="col-md"> -->

              <div *ngIf="i * 3 + 1 === data[0].index">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>
            <!-- </div> -->



              <div *ngIf="i * 3 + 2 === data[0].index">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>





            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
