<div class="container-fluid">
<div class="row">
<div class="col-md-2">
<app-side-nav></app-side-nav>
</div>

<!-- <p>มอเตอร์ไซต์</p>
<div class="card" style="width:25rem">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <div class="text-center">
        <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()" />
      </div>
      <div class="form-group">
        <label>Select file to upload</label>
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
          (change)="showPreview($event)" />
        <div class="text-danger" *ngIf="isSubmitted && formControls.errors?.required">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="caption" placeholder="Caption" />
        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">
          This field is required.
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<p>แสดงผล</p>
<br />
<br />
<br />
<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i !== 0">
        <img [src]="imageList[3 * i - 1].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i - 1].caption }}</span>
      </div>
    </td>
    <td *ngIf="imageList[3 * i]">
      <div class="imagebox">
        <img [src]="imageList[3 * i].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i].caption }}</span>
      </div>
    </td>
    <td *ngIf="imageList[3 * i + 1]">
      <div class="imagebox">
        <img [src]="imageList[3 * i + 1].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i + 1].caption }}</span>
      </div>
    </td>
  </tr>
</table> -->
<div class="col-md-10">
<h3>
  <img
    class="icon"
    src="https://image.flaticon.com/icons/svg/2101/2101321.svg"
  />
  ประเภทรถ
</h3>
<div class="card">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <img
        class="img-fluid"
        [src]="imgSrc"
        width="350px"
        height="250px"
        (click)="fileUploader.click()"
      />
      <div class="form-group">
        <label>Select file to upload</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          #fileUploader
          formControlName="imageUrl"
          (change)="showPreview($event)"
        />
        <div
          class="text-danger"
          *ngIf="isSubmitted && formControls.imageUrl.errors?.required"
        >
          This field is required.
        </div>
      </div>
      <!-- <div class="form-group">
        <input
          class="form-control"
          formControlName="caption"
          placeholder="Caption"
        />
        <div
          class="text-danger"
          *ngIf="isSubmitted && formControls.caption.errors?.required"
        >
          This field is required.
        </div>
      </div> -->
      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="type1">ประเภทรถที่1</option>
          <option value="type2">ประเภทรถที่2</option>
          <option value="type3">ประเภทรถที่3</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button
            [ngStyle]="{ 'background-color': color }"
            type="submit"
            class="btn submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<p>แสดงผล</p>
<p>ประเภทรถที่1</p>
<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="imageList[3 * i]">
        <img
          [src]="imageList[3 * i].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg1)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 1/1 -->
      <ng-template #deleteImg1 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType1(imageList[3 * i])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList[3 * i + 1]">
      <div class="imagebox">
        <img
          [src]="imageList[3 * i + 1].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg2)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 1/2 -->
      <ng-template #deleteImg2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType1(imageList[3 * i + 1])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList[3 * i + 2]">
      <div class="imagebox">
        <img
          [src]="imageList[3 * i + 2].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg3)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 1/3 -->
      <ng-template #deleteImg3 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType1(imageList[3 * i + 2])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>
  </tr>
</table>

<hr />
<br />
<br />
<br />
<p>ประเภทรถที่2</p>
<table *ngIf="imageList2">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="imageList2[3 * i]">
        <img
          [src]="imageList2[3 * i].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg21)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image  2/1-->
      <ng-template #deleteImg21 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType2(imageList2[3 * i])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList2[3 * i + 1]">
      <div class="imagebox">
        <img
          [src]="imageList2[3 * i + 1].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg22)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image  2/2-->
      <ng-template #deleteImg22 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType2(imageList2[3 * i + 1])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList2[3 * i + 2]">
      <div class="imagebox">
        <img
          [src]="imageList2[3 * i + 2].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg23)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 2/3 -->
      <ng-template #deleteImg23 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType2(imageList2[3 * i + 2])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>
  </tr>
</table>

<br />
<br />
<br />
<hr />
<p>ประเภทรถที่3</p>
<table *ngIf="imageList3">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="imageList3[3 * i]">
        <img
          [src]="imageList3[3 * i].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg31)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 3/1 -->
      <ng-template #deleteImg31 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType3(imageList3[3 * i])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList3[3 * i + 1]">
      <div class="imagebox">
        <img
          [src]="imageList3[3 * i + 1].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg32)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 3/2 -->
      <ng-template #deleteImg32 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType3(imageList3[3 * i + 1])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>

    <td *ngIf="imageList3[3 * i + 2]">
      <div class="imagebox">
        <img
          [src]="imageList3[3 * i + 2].value.imageUrl"
          class="img-fluid"
          (click)="openDeleteImage(deleteImg33)"
          width="450px"
          height="250px"
        />
      </div>

      <!-- dialog delete image 3/3 -->
      <ng-template #deleteImg33 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title">
            ต้องการลบหรือไม่?
          </h5>

          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="text-center">
          <div class="modal-footer">
            <button
              type="button"
              class="btn  save"
              (click)="deleteImageType3(imageList3[3 * i + 2])"
              (click)="d('Cross click')"
            >
              Yes
            </button>
            <button type="button" class="btn  save" (click)="d('Cross click')">
              No
            </button>
          </div>
        </div>
      </ng-template>
    </td>
  </tr>
</table>
</div>
</div>
</div>
