.btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 16px;
    margin-bottom: 10px;
   }
  .btn.icon {
     color: #004085;
    text-align: inherit;
}
   .iconGroup {
     display: flex;
   }
   .textBox {
    width: 275px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #95989a;
    margin-left: 15px;
   }
   /* .text {
    margin-right: 240px;
   } */
 .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }
  h1{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
img {
  width: 45px;
}
.control {
  display: grid;
  background-color:white;
  border-radius: 10px;
  padding: 8px 20px;
}
h4{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }

  agm-map {
    height: 300px;
  
  }
