
  .btn.icon {
     color: #004085;
    text-align: inherit;
}
   .iconGroup {
     display: flex;
   }

   /* .text {
    margin-right: 240px;
   } */
 .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }
  h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
.icon {
  width: 45px;
}
.control {
  display: grid;
  background-color:white;
  border-radius: 10px;
  padding: 8px 20px;
}

  agm-map {
    height: 500px;
    width: 600px;

  }

.box{
  text-align: center;
    margin-top: 10px;
}
.frame{
  border-style: solid;
    padding: 10px 20px;
    border-color: #f1f1f1;
    border-radius: 5px;
}
