<br>
<br>
<br>
<div class="row">
<div class="col-8">
<div class="control">
<div *ngFor="let data of homepage">

    <img src="https://image.flaticon.com/icons/svg/275/275332.svg">  {{data.value.firstname}}
  </div>
</div>
<div class="control">
<div *ngFor="let data of video">
    {{ data.value.video1}}
    <br>

    <iframe width="560" height="315" [src]="getVdoUrl('https://www.youtube.com/embed/' + data.value.video1)" frameborder="0"
      allowfullscreen></iframe>
  </div>
</div>
</div>

<div class="col-4">
  <ngb-tabset>
    <ngb-tab title="กรอกรายละเอียดการจ้าง">
      <ng-template ngbTabContent>
        <app-addjob></app-addjob>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="เช็คสถานะ">
      <ng-template ngbTabContent>
        <app-check-status-user></app-check-status-user>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>
