<div *ngIf="!auth.authenticated" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="space">
        <div class="container">
          <div class="row">
            <div class="col-md ">
              <p
                [ngStyle]="{ 'background-color': color ? color : '#abc' }"
                style="margin-top: 60px;"
                *ngFor="let data of homepage"
                class="content"
              >
                {{ data.value.detail }}
              </p>
              <iframe
                width="100%"
                height="315"
                [src]="linkVideo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md">
              <button
                [ngStyle]="{ 'background-color': color ? color : '#abc' }"
                class="btn but"
                routerLink="/addjob"
              >
                ใช้บริการเรา
              </button>
              <img
                src="https://cdn.pixabay.com/photo/2014/12/11/14/08/hand-truck-564242_1280.jpg"
                class="case1"
              />

              <img
                src="https://cdn.pixabay.com/photo/2017/07/08/10/44/parcel-2484036_1280.png"
                class="case2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 space">
      <ngb-tabset>
        <ngb-tab title="กรอกรายละเอียดการจ้าง">
          <ng-template ngbTabContent>
            <app-addjob></app-addjob>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="เช็คสถานะ">
          <ng-template ngbTabContent>
            <app-check-status-user></app-check-status-user>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> -->
  </div>
</div>

<div *ngIf="auth.authenticated" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-10">
      <div class="space">
        <div class="container">
          <div class="row">
            <div class="col-md ">
              <p

                style="margin-top: 60px;"
                *ngFor="let data of homepage"
                class="content"
              >
                {{ data.value.detail }}
              </p>
              <iframe
                width="100%"
                height="315"
                [src]="linkVideo"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <div class="col-md">
              <button
                [ngStyle]="{ 'background-color': color ? color : '#abc' }"
                class="btn but"
                routerLink="/addjob"
              >
                ใช้บริการเรา
              </button>
              <img
                src="https://cdn.pixabay.com/photo/2014/12/11/14/08/hand-truck-564242_1280.jpg"
                class="case3"
              />

              <img
                src="https://cdn.pixabay.com/photo/2017/07/08/10/44/parcel-2484036_1280.png"
                class="case4"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 space">
      <ngb-tabset>
        <ngb-tab title="กรอกรายละเอียดการจ้าง">
          <ng-template ngbTabContent>
            <app-addjob></app-addjob>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="เช็คสถานะ">
          <ng-template ngbTabContent>
            <app-check-status-user></app-check-status-user>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> -->
    </div>
  </div>
</div>
