<br>
<br>
<br>
<p>bank works!</p>
<p>ลูกค้าสามารถชำระโดยการโอนผ่านธนาคารดังนี้</p>
<br />
<p>กรุณากรอกรายละเอียดธนาคาร</p>
<p>Ex:ธนาคารกสิกร สาขา ราชมงคลธัญบุรี เลขที่บัญชี 123-4-56789-0</p>
<form (ngSubmit)="addBank(bankForm)" #bankForm="ngForm">
  <div class="control">
  <label for="bank">รายละเอียดธนาคาร</label>
  <input class="textBox" type="text" name="bank" ngModel />
  <button class="btn submit" type="submit">Submit</button>
  </div>
</form>
<label  *ngFor="let data of bank">
  {{ data.value.bank }}
<label>
