
.btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
   }

.control {
  display: grid;
}
 .textBox {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
   }
