<br>
<br>
<br>
<p>ค้นหา</p>
<form (ngSubmit)="searchJob(SearchJobForm)" #SearchJobForm="ngForm">
    <!-- <select class="form-control" (change)="selectValue($event)" name="selectSearchJob" ngModel> -->
    <select class="form-control" name="selectSearchJob" ngModel>
        <option value="customerFirstname">ลูกค้า</option>
        <option value="driver">พนักงานขับรถ</option>
        <option value="status">stutus</option>
    </select>
    <label>กรุณากรอกข้อมูล</label>
    <input class="form-control" type="text" name="searchJob" ngModel /> <br>

    <label>วันที่</label>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" (click)="d.toggle()" placeholder="yyyy-mm-dd" name="workDate" ngModel
                ngbDatepicker #d="ngbDatepicker">
        </div>
    </div>
    <p>ถึง</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" (click)="d2.toggle()" placeholder="yyyy-mm-dd" name="endworkDate" ngModel
                ngbDatepicker #d2="ngbDatepicker">

        </div>
    </div>
    <button class="form-control" type="submit">Submit</button>
</form>


<hr />


<h3>ผลลัพท์ค้นหา</h3>
<table class="table">
    <thead>
        <tr>
            <td>source</td>
            <td>destination</td>
            <td>worktype</td>
            <td>customerFirstname</td>
            <td>workDate</td>
            <td>workTime</td>
            <td>customerPhone</td>
            <td>customerLine</td>
            <td>detail</td>
            <td>status</td>
            <td>driver</td>
            <!-- <td>action</td>
            <td>driver</td> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of job ; let i = index">
            <td>{{ data.value.source }}</td>
            <td>{{ data.value.destination }}</td>
            <td>{{ data.value.worktype }}</td>
            <td>{{ data.value.customerFirstname }}</td>
            <td>{{ data.value.workDate.day }} /{{ data.value.workDate.month}} / {{data.value.workDate.year }}</td>
            <td>{{ data.value.workTime.hour}}:{{ data.value.workTime.minute}}</td>
            <td>{{ data.value.customerPhone }}</td>
            <td>{{ data.value.customerLine }}</td>
            <td>{{ data.value.detail }}</td>
            <td>{{ data.value.status }}</td>
            <td>{{ data.value.driver }}</td>
            <!-- <td>
                <button type="button" (click)="delJob(data)">Delete</button>
                <button type="button" (click)="editJob(data,i)">Submit</button>
            </td>
            <td>
                <select (change)="selectValue($event, i)">
                    <option value="">------</option>
                    <option value="{{data2.value.email}},{{data2.value.firstname}}" *ngFor="let data2 of wikis">
                        {{ data2.value.firstname }}
                    </option>
                </select>
            </td> -->
        </tr>
    </tbody>
</table>