
  th {
     text-align: center;
   }
 thead {
     background-color: white;
   }
p {
    margin-top: 20px;
   }
td{
  text-align: center;
}

img {
  width: 45px;
}
table {
  background-color: white;
}
h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 60px;
  }
h4{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }

  .total{
    display: flex;
    justify-content: space-between;
  }

@media (min-width: 768px){
  .box{
    display: flex;
      justify-content: space-between;
      align-items: baseline;
  }
  .search{
    position: relative;
      top: -50%;
  }
  .for{
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  }

  @media (max-width: 575.98px) {
    .for{
    display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s
    }
  }
  .btn.submit{
    position: relative;
    left: 50%;
  }
