<br />
<br />
<br />
<h1><img src="https://image.flaticon.com/icons/svg/2060/2060329.svg"> เกี่ยวกับเรา</h1>
<div class="control">
  <div *ngFor="let data of about">
    <p>บริษัทของเราตั้งอยู่ที่</p>
    {{ data.value.about }}
  </div>

  <div *ngFor="let data of account">
    <p>Line : {{ data.value.account }}</p>
  </div>


  <div *ngFor=" let data of location">
    <p>{{data.value.lat}}</p>
    <p>{{data.value.long}}</p>
    <agm-map [latitude]="data.value.lat" [longitude]="data.value.long" [zoom]="zoom">
      <agm-marker [latitude]="data.value.lat" [longitude]="data.value.long" [markerDraggable]="false">
      </agm-marker>
    </agm-map>
  </div>

</div>