<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>
  <img src="https://image.flaticon.com/icons/svg/2060/2060329.svg" />
  เกี่ยวกับเรา
</h1>
<div class="control">
  <div class="box" *ngFor="let data of about">
    <div class="space">
    <p>ที่อยู่: {{data.value.about }}</p>
  </div>
    <div class="space">
    <p>ID Line: {{ data.value.account }}</p>
  </div>
  </div>

  <!-- <div *ngFor="let data of account">
    <p>Line : {{ data.value.account }}</p>
  </div> -->

  <div *ngFor="let data of location">
    <!-- <p>{{ data.value.lat }}</p> -->
    <!-- <p>{{ data.value.long }}</p> -->
    <agm-map
      [latitude]="data.value.lat"
      [longitude]="data.value.long"
      [zoom]="zoom"
    >
      <agm-marker
        [latitude]="data.value.lat"
        [longitude]="data.value.long"
        [markerDraggable]="false"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>
</div>
</div>
</div>
