/* .table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #F1EFEF;
  width: 100%;
  }
  .table  td, th {
  border-left: 1px solid #CFCACA;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5rem 1rem;
  }
  .table  thead {
  background-color: #02348A;
  color: #F3EDED;
  text-align: left;
  vertical-align: bottom;
  } */
.btn.icon {
     color: #004085;
   }
.iconGroup {
     display: flex;
     justify-content: center;
   }
th {
     text-align: center;
   }
td {
     text-align: center;
   }
thead {
     background-color: white;
   }
  .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.icon {
     color: #004085;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }

h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 60px;
  }
.icons {
  width: 45px;
}
table {
  background-color: white;
}
.header {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

agm-map {
  height: 300px;

}

.mid
{
  text-align: center;
  margin-top: 10px;
}
