<app-side-nav></app-side-nav>
<br />
<br />
<br />
<!-- เพิ่มข้อมูล------------------------------------------------------------------------------- -->
<h3>
  <img
    class="icons"
    src="https://image.flaticon.com/icons/svg/912/912216.svg"
  />
  จัดการพนักงานขับรถ
</h3>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ข้อมูลพนักงาน</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTemplate">
      <div class="text-center">
        <img
          [src]="imgSrc"
          width="350px"
          height="250px"
          (click)="fileUploader.click()"
        />
      </div>
      <div class="form-group">
        <label>Select file to upload</label>
        <input
          type="file"
          accept="image/*"
          class="form-control"
          #fileUploader
          formControlName="imageUrl"
          (change)="showPreview($event)"
        />

        <!-- </div> -->
        <!-- <div class="form-row"> -->
        <label>อีเมลล์</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          ngModel
        />
        <label>รหัสผ่าน</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          ngModel
        />
        <label>ชื่อ</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstname"
          ngModel
        />

        <label>นามสกุล</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastname"
          ngModel
        />
        <label>ที่อยู่</label>
        <input
          type="text"
          class="form-control"
          formControlName="address"
          ngModel
        />
        <label>ที่อยู่ตามพิกัด(Laitute)</label>
        <input
          type="text"
          class="form-control"
          formControlName="addressLat"
          ngModel
        />
        <label>ที่อยู่ตามพิกัด(Longtitute)</label>
        <input
          type="text"
          class="form-control"
          formControlName="addressLong"
          ngModel
        />
        <label>ที่อยู่ปัจจุบันตามพิกัด(Latitute)</label>
        <input
          type="text"
          class="form-control"
          formControlName="currentLat"
          ngModel
        />
        <label>ที่อยู่ปัจจุบันตามพิกัด(Longtitute)</label>
        <input
          type="text"
          class="form-control"
          formControlName="currentLong"
          ngModel
        />
        <label>ตำแหน่ง</label>
        <input
          type="text"
          class="form-control"
          formControlName="role"
          ngModel
        />
        <label>ไลน์</label>
        <input
          type="text"
          class="form-control"
          formControlName="lineId"
          ngModel
        />
        <label>บัตรประชาชน</label>
        <input
          type="text"
          class="form-control"
          formControlName="citizenId"
          ngModel
        />
        <label>เบอร์โทรศัพท์</label>
        <input
          type="text"
          class="form-control"
          formControlName="phoneId"
          ngModel
        />
        <label>วันที่เริ่มงาน</label>
        <input
          type="text"
          class="form-control"
          formControlName="hireDate"
          ngModel
        />
        <label>สถานะการทำงาน</label>
        <input
          type="text"
          class="form-control"
          formControlName="status"
          ngModel
        />
        <label>Token</label>
        <input
          type="text"
          class="form-control"
          formControlName="token"
          ngModel
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn save" (click)="onSubmit(formTemplate)">
      Save
    </button>
  </div>
</ng-template>
<button class="btn icon plus" (click)="open(content)">
  <i class="fas fa-user-plus"></i> เพิ่มข้อมูลพนักงาน
</button>
<!-- ------------------------------------------------------------------------------------- -->
<h1>ขอตำแหน่งปัจจุบัน</h1>
<button
  (click)="getCurentAddress()"
  (click)="openCurrentAddress(contentCurrent)"
>
  Click
</button>
<!-- แสดงผลdialog--------------------------------------------------------------------------------- -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Address</th>

      <th scope="col">Role</th>
      <th scope="col">Line</th>
      <th scope="col">Citizen</th>
      <th scope="col">Phone</th>
      <th scope="col">HireDate</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of wikis">
      <!-- dialogเมื่อคลิกที่ชื่อ --------------------------------------------------------------- -->
      <td (click)="openData(contentData)">
        <ng-template #contentData let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">ข้อมูลพนักงาน</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img
                [src]="data.value.imageUrl"
                width="350px"
                height="250px"
                (click)="deleteImage(data)"
              />
            </div>
            <div class="form-group">
              <div *ngIf="deleteImg">
                <label>Select file to upload</label>
                <input
                  type="file"
                  accept="image/*"
                  class="form-control"
                  #fileUploader
                  name="imageUrl"
                  (change)="showPreview($event)"
                />
              </div>

              <label>อีเมลล์</label>
              <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="data.value.firstname"
              />

              <label>ชื่อ</label>
              <input
                type="text"
                class="form-control"
                name="firstname"
                [(ngModel)]="data.value.firstname"
              />

              <label>นามสกุล</label>
              <input
                type="text"
                class="form-control"
                name="lastname"
                [(ngModel)]="data.value.lastname"
              />
              <label>ที่อยู่</label>
              <input
                type="text"
                class="form-control"
                name="address"
                [(ngModel)]="data.value.address"
              />
              <label>ที่อยู่ตามพิกัด(Laitute)</label>
              <input
                type="text"
                class="form-control"
                name="addressLat"
                [(ngModel)]="data.value.addressLat"
              />
              <label>ที่อยู่ตามพิกัด(Longtitute)</label>
              <input
                type="text"
                class="form-control"
                name="addressLong"
                [(ngModel)]="data.value.addressLong"
              />
              <label>ที่อยู่ปัจจุบันตามพิกัด(Latitute)</label>
              <input
                type="text"
                class="form-control"
                name="currentLat"
                [(ngModel)]="data.value.currentLat"
              />
              <label>ที่อยู่ปัจจุบันตามพิกัด(Longtitute)</label>
              <input
                type="text"
                class="form-control"
                name="currentLong"
                [(ngModel)]="data.value.currentLong"
              />
              <label>ตำแหน่ง</label>
              <input
                type="text"
                class="form-control"
                name="role"
                [(ngModel)]="data.value.role"
              />
              <label>ไลน์</label>
              <input
                type="text"
                class="form-control"
                name="lineId"
                [(ngModel)]="data.value.lineId"
              />
              <label>บัตรประชาชน</label>
              <input
                type="text"
                class="form-control"
                name="citizenId"
                [(ngModel)]="data.value.citizenId"
              />
              <label>เบอร์โทรศัพท์</label>
              <input
                type="text"
                class="form-control"
                name="phoneId"
                [(ngModel)]="data.value.phoneId"
              />

              <label>สถานะการทำงาน</label>
              <input
                type="text"
                class="form-control"
                name="status"
                [(ngModel)]="data.value.status"
              />
            </div>
          </div>
          <div class="modal-footer">
            <div class="iconGroup">
              <button
                type="button"
                class="btn icon"
                (click)="openEditData(contentEditData, data)"
              >
                <i class="far fa-edit"></i>
              </button>
              <button
                type="button"
                class="btn save"
                (click)="resetPassword(data)"
              >
                Reset Password?
              </button>
            </div>
            <button type="button" class="btn save" (click)="c('Save click')">
              Save
            </button>
          </div>
        </ng-template>
        {{ data.value.email }}
      </td>
      <!-- -------------------------------------------------------------------------------------------- -->
      <td (click)="openData(contentData)">{{ data.value.firstname }}</td>
      <td (click)="openData(contentData)">{{ data.value.lastname }}</td>
      <td (click)="openData(contentData)">{{ data.value.address }}</td>

      <td (click)="openData(contentData)">{{ data.value.role }}</td>
      <td (click)="openData(contentData)">{{ data.value.lineId }}</td>
      <td (click)="openData(contentData)">{{ data.value.citizenId }}</td>
      <td (click)="openData(contentData)">{{ data.value.phoneId }}</td>
      <td (click)="openData(contentData)">
        {{ data.value.hireDate.day }} /{{ data.value.hireDate.month }} /
        {{ data.value.hireDate.year }}
      </td>
      <td (click)="openData(contentData)">{{ data.value.status }}</td>

      <td>
        <div class="iconGroup">
          <button
            type="button"
            class="btn icon"
            (click)="delWiki(data)"
            (click)="deleteAccount(data)"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <!--
        <ng-template #contentEditData let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">ข้อมูลพนักงาน</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editwikiForm">
              <div class="text-center">
                <img
                  [src]="imgSrc"
                  width="350px"
                  height="250px"
                  (click)="fileUploader.click()"
                />
              </div>
              <div class="form-group">
                <label>อีเมลล์</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  [(ngModel)]="data.value.email"
                />

                <label>ชื่อ</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstname"
                  [(ngModel)]="data.value.firstname"
                />

                <label>นามสกุล</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastname"
                  [(ngModel)]="data.value.lastname"
                />
                <label>ที่อยู่</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="address"
                  [(ngModel)]="data.value.address"
                />
                <label>ที่อยู่ตามพิกัด(Laitute)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="addressLat"
                  [(ngModel)]="data.value.addressLat"
                />
                <label>ที่อยู่ตามพิกัด(Longtitute)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="addressLong"
                  [(ngModel)]="data.value.addressLong"
                />
                <label>ที่อยู่ปัจจุบันตามพิกัด(Latitute)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="currentLat"
                  [(ngModel)]="data.value.currentLat"
                />
                <label>ที่อยู่ปัจจุบันตามพิกัด(Longtitute)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="currentLong"
                  [(ngModel)]="data.value.currentLong"
                />
                <label>ตำแหน่ง</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="role"
                  [(ngModel)]="data.value.role"
                />
                <label>ไลน์</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lineId"
                  [(ngModel)]="data.value.lineId"
                />
                <label>บัตรประชาชน</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="citizenId"
                  [(ngModel)]="data.value.citizenId"
                />
                <label>เบอร์โทรศัพท์</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phoneId"
                  [(ngModel)]="data.value.phoneId"
                />
                <label>วันที่เริ่มงาน</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="hireDate"
                  [(ngModel)]="data.value.hireDate"
                />
                <label>สถานะการทำงาน</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="status"
                  [(ngModel)]="data.value.status"
                />
                <button
                  type="button"
                  class="btn save"
                  (click)="resetPassword(data)"
                >
                  Reset Password?
                </button>
                <button
                  type="button"
                  class="btn edit"
                  (click)="deleteAccount(data)"
                >
                  Delete
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn save"
              (click)="editWiki(editwikiForm, data)"
              (click)="c('Save click')"
            >
              Save
            </button>
          </div>
        </ng-template> -->
        <!-- -------------------------------------------------------------------------------------- -->
      </td>
    </tr>
  </tbody>
</table>

<ng-template #contentCurrent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ให้คะแนนบริการไม่ได้</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="resetCoordinates()"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="text-center">
    <div class="modal-body">
      <label>
        ส่งตำแหน่งสำเร็จ!
      </label>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn  save"
        (click)="resetCoordinates()"
        (click)="d('Cross click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
