
 .btn.icon {
     color: #004085;
   }
   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
   td {
     text-align: center;
   }
    thead {
     background-color: white;
   }
   .btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
   }
p {
    margin-top: 20px;
   }
.btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
   }

.textBox {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
   }
.control {
     display: grid;
     background-color: white;
     border-radius: 10px;
     padding: 8px 20px;
     margin-bottom: 50px;
   }

h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
img {
  width: 45px;
}
table {
  background-color: white;
}
