
 .btn.icon {
     color: #004085;
   }
   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
   td {
     text-align: center;
   }
    thead {
     background-color: #d8e3ef;
   }
   .btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
   }
p {
     margin-left: 40px;
    margin-top: 20px;
   }
.btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
   }
    label {
     margin-left: 40px;
   }
.textBox {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
  margin-left: 40px;
   }
.control {
  display: grid;
}
