/* .table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #F1EFEF;
    width: 100%;
    }
    .table  td, th {
    border-left: 1px solid #CFCACA;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem 1rem;
    }
    .table  thead {
    background-color:rosybrown;
    color: #F3EDED;
    text-align: left;
    vertical-align: bottom;
    } */


   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
    thead {
     background-color: white;
   }
    td {
     text-align: center;
   }

   .btn.edit {
      background-color: #d0cfcf;
   }
   h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
img {
  width: 45px;
}
table {
  background-color: white;
}
