<app-job></app-job>
<h3>ดำเนินการ</h3>
<table class="table">
  <thead>
    <tr>
      <td>source</td>
      <td>destination</td>
      <td>worktype</td>
      <td>customerFirstname</td>
      <td>workDate</td>
      <td>workTime</td>
      <td>customerPhone</td>
      <td>customerLine</td>
      <td>detail</td>
      <td>status</td>
      <td>driver</td>
      <td>action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of job">
      <td>{{ data.value.source }}</td>
      <td>{{ data.value.destination }}</td>
      <td>{{ data.value.worktype }}</td>
      <td>{{ data.value.customerFirstname }}</td>
      <td>{{ data.value.workDate }}</td>
      <td>{{ data.value.workTime }}</td>
      <td>{{ data.value.customerPhone }}</td>
      <td>{{ data.value.customerLine }}</td>
      <td>{{ data.value.detail }}</td>
      <td>{{ data.value.status }}</td>
      <td>{{ data.value.driver }}</td>
      <td>
        <button type="button" (click)="delJob(data)">Delete</button>
        <button type="button" (click)="editJob(data)">Submit</button>
      </td>
      <!-- <td>
        <select>
          <option value="">------</option>
          <option [ngValue]="data2" *ngFor="let data2 of car">
            {{ data2.value.carId }}
          </option>
        </select>
      </td> -->
    </tr>
  </tbody>
</table>
