<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="sidenav">
  <!-- <a routerLink="/job">Job</a> -->
  <a routerLink="/addjob">เพิ่มJob ***ทดสอบ***</a>
  <a routerLink="/checkdatajob">รอตรวจสอบข้อมูล</a>
  <a routerLink="/checkpaymentjob">รอชำระเงิน</a>
  <a routerLink="/notificationjob">มอบหมายงาน</a>
  <a routerLink="/pendingjob">รอดำเนินการ</a>
  <a routerLink="/proceedjob">ดำเนินการ</a>
  <a routerLink="/proceededjob">ดำเนินการแล้ว</a>
  <a routerLink="/searchjob">ค้นหา</a>
  <a routerLink="/home">จัดการพนักงานขับรถ</a>
  <a routerLink="/car">จัดการข้อมูลรถ</a>
  <a routerLink="/overview">ผลประเมินความพึงพอใจ</a>

