<app-side-nav></app-side-nav>
<br />
<br />
<br />
<div class="row">
  <div class="col-8">
    <form (ngSubmit)="addHomepage(homeForm)" #homeForm="ngForm">
      <h1>
        <img src="https://image.flaticon.com/icons/svg/806/806647.svg" />
        ปรับแต่งเว็บแอพลิเคชั่น
      </h1>
      <div class="control">
        <label>แก้ไขข้อความ</label>
        <textarea class="textArea" id="exampleFormControlTextarea1" name="detail" ngModel rows="3"></textarea>
        <button  [ngStyle]="{'background-color': color }" class="btn submit" type="submit">Submit</button>
      </div>
    </form>
    <br />
    <br />
    <div [ngStyle]="{'background-color': color }" class="text">
      <div *ngFor="let data of homepage">
        {{ data.value.firstname }}
      </div>
    </div>

    <br />
    <br />
    <br />
    <p [ngStyle]="{'background-color': color }" class="text">
      ก็อปปี้คำที่อยู่หลังwatch?v=มาใส่ในช่อง <br />
      Ex: https://www.youtube.com/watch?v=C64wuNOj-do <br />
      นำ C64wuNOj-do ไปใส่
    </p>
    <form (ngSubmit)="addVideo(videoForm)" #videoForm="ngForm">
      <div class="control">
        <label for="video">video</label>
        <textarea class="textArea" id="exampleFormControlTextarea1" name="detail" ngModel rows="3"></textarea>
        <button [ngStyle]="{'background-color': color }"  class="btn submit" type="submit">Submit</button>
      </div>

      <div [ngStyle]="{'background-color': color }" class="video">
        <div *ngFor="let data of video">
          {{ data.value.video1 }}
          <br />

          <iframe
            class="videos"
            [src]="
              getVdoUrl('https://www.youtube.com/embed/' + data.value.video1)
            "
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </form>
  </div>

  <div class="col-4">
    <ngb-tabset>
      <ngb-tab title="กรอกรายละเอียดการจ้าง">
        <ng-template ngbTabContent>
          <app-addjob></app-addjob>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="เช็คสถานะ">
        <ng-template ngbTabContent>
          <app-check-status-user></app-check-status-user>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
