<br />
<br />
<br />
<table *ngIf="imageList">
  <tr *ngFor="let image of imageList; let i = index" >
    <!-- <td >
      <div class="imagebox">
        <img [src]="image.imageUrl" class="img-fluid" />
        <span class="imagebox-desc"></span>
      </div>
    </td>

    <td>
      <div class="imagebox">
        <img [src]="image.imageUrl" class="img-fluid" />
        <span class="imagebox-desc"></span>
      </div>
    </td>

    <td>
      <div class="imagebox">
        <img [src]="image.imageUrl" class="img-fluid" />
        <span class="imagebox-desc"></span>
      </div>
    </td> -->







    <td>
      <div class="imagebox" *ngIf="i != 0">
        <img [src]="image.imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i - 1].caption }}</span>
      </div>
    </td>
    <td *ngIf="imageList[3 * i]">
      <div class="imagebox">
        <img [src]="imageList[3 * i].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i].caption }}</span>
      </div>
    </td>
    <td *ngIf="imageList[3 * i + 1]">
      <div class="imagebox">
        <img [src]="imageList[3 * i + 1].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i + 1].caption }}</span>
      </div>
    </td>
  </tr>
</table>
