

.control {
     display: grid;
     background-color: white;
     border-radius: 10px;
     padding: 8px 20px;
     margin-bottom: 10px;
   }

h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 8px;
    /* margin-top: 60px; */
  }
img {
  width: 45px;
}

agm-map {
  height: 300px;

}

.space {
  display: flex;
  justify-content: space-between;
}

.but {
  margin-top: 20px;
  position: relative;
  left: 36.8%;
}
