<br>
<br>
<br>
<h1><img src="https://image.flaticon.com/icons/svg/1086/1086741.svg"> ช่องทางการชำระเงิน</h1>
<div class="control">
<p>ลูกค้าสามารถชำระโดยการโอนผ่านธนาคารดังนี้</p>
<div *ngFor="let data of bank">
  {{ data.value.bank }}
</div>
</div>
<div class="loco">
<h5>เส้นทางการดำเนินงาน
  <hr>
</h5>
<div class="formProcess">
  <div class="process">
  <img src="https://image.flaticon.com/icons/svg/1197/1197511.svg">
  <label>กรอกข้อมูลของท่าน</label>
  </div>
  <img src="https://image.flaticon.com/icons/svg/36/36739.svg">
  <div class="process">
  <img src="https://image.flaticon.com/icons/svg/2043/2043175.svg">
  <p>เจ้าหน้าที่ติดต่อกลับ</p>
  </div>
  <img src="https://image.flaticon.com/icons/svg/36/36739.svg">
  <div class="process">
  <img src="https://image.flaticon.com/icons/svg/1706/1706657.svg">
  <p>โอนเงินค่ามัดจำและเช็คสถานะ</p>
  </div>
  <img src="https://image.flaticon.com/icons/svg/36/36739.svg">
  <div class="process">
  <img src="https://image.flaticon.com/icons/svg/814/814245.svg">
  <p>เจ้าหน้าที่ให้บริการท่าน</p>
  </div>
  <img src="https://image.flaticon.com/icons/svg/36/36739.svg">
  <div class="process">
  <img src="https://image.flaticon.com/icons/svg/1507/1507923.svg">
  <p>ประเมินผลการให้บริการ</p>
  </div>
</div>
</div>
