<app-side-nav></app-side-nav>
<br />
<br />
<br />
<p>ส่งตำแหน่งปัจจุบัน</p>
<button
*ngFor=" let employee of wikis"
  (click)="getCurentAddress(employee)"
  (click)="openCurentAddress(contentCurrent)"
>
  ส่งตำแหน่งปัจจุบัน
</button>
<h3>มอบหมายงาน</h3>
<table class="table">
  <thead>
    <tr>
      <td>source</td>
      <td>destination</td>
      <td>worktype</td>
      <td>customerFirstname</td>
      <td>workDate</td>
      <td>workTime</td>
      <td>customerPhone</td>
      <td>customerLine</td>
      <td>detail</td>
      <td>status</td>
      <td>action</td>
      <td>driver</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of job">
      <td>{{ data.value.source }}</td>
      <td>{{ data.value.destination }}</td>
      <td>{{ data.value.worktype }}</td>
      <td>{{ data.value.customerFirstname }}</td>
      <td>
        {{ data.value.workDate.day }} /{{ data.value.workDate.month }} /
        {{ data.value.workDate.year }}
      </td>
      <td>
        {{ data.value.workTime.hour }}:{{ data.value.workTime.minute }} น.
      </td>
      <td>{{ data.value.customerPhone }}</td>
      <td>{{ data.value.customerLine }}</td>
      <td>{{ data.value.detail }}</td>
      <td>{{ data.value.status }}</td>
      <td>
        <button type="button" (click)="delJob(data)">Delete</button>
        <button type="button" (click)="editJob(data)">Submit</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #contentCurrent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ให้คะแนนบริการไม่ได้</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="text-center">
    <div class="modal-body">
      <label>
        ส่งตำแหน่งสำเร็จ!
      </label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn  save" (click)="d('Cross click')">
        Close
      </button>
    </div>
  </div>
</ng-template>
