th {
     text-align: center;
   }
   thead {
     background-color: white;
   }
   td {
     text-align: center;
   }
h3 {
   background-color: white;
   border-radius: 5px;
   padding: 8px 20px;
   margin-top: 60px;
 }
@media screen and (min-width: 768px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
 }

  .sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 36px;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 21px
  }

  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
  }

  .sidenav a:hover {
    color: #004085;;
  }
  .btn-link{
    color: rgba(0,0,0,.9);
  }
