<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand text-white" [routerLink]="['/']"> J I S T I G </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <!-- <li>
        <a class="nav-link" [routerLink]="['/']"> หน้าแรก</a>
      </li> -->
      <!-- user -->
      <li *ngIf="auth.authenticated && !auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/jobdriver']">งาน </a>
      </li>
      <li *ngIf="!auth.authenticated || !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/homepageuser']">JISTIC </a>
      </li>
      <li *ngIf="!auth.authenticated || !auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/serviceuser']">บริการ </a>
      </li>
      <li *ngIf="!auth.authenticated || !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/cartypeuser']">ประเภทรถ </a>
      </li>
      <li *ngIf="!auth.authenticated ||  !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/portfoliouser']">ผลงาน </a>
      </li>
      <li *ngIf="!auth.authenticated || !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/bankuser']">ช่องทางชำระเงิน </a>
      </li>
      <li *ngIf="!auth.authenticated || !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/aboutuser']">เกี่ยวกับเรา </a>
      </li>
      <!-- admin -->

      <li *ngIf="auth.authenticated && auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/profile']">Profile </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/homepageadmin']">JISTIC </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/serviceadmin']">บริการ </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/cartypeadmin']">ประเภทรถ </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/portfolioadmin']">ผลงาน </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/bankadmin']">ช่องทางชำระเงิน </a>
      </li>
      <li *ngIf="auth.authenticated && auth.authenticatedAdmin() ">
        <a class="nav-link" [routerLink]="['/aboutadmin']">เกี่ยวกับเรา </a>
      </li>
      <li *ngIf="!auth.authenticated">
        <a class="nav-link" [routerLink]="['/login']">เข้าสู่ระบบ </a>
      </li>
      <li *ngIf="auth.authenticated">
        <a class="nav-link" [routerLink]="['/']" (click)="this.auth.signOut()">ออกจากระบบ</a>
      </li>
      <li *ngIf="auth.authenticated && !auth.authenticatedAdmin()">
        <a class="nav-link" [routerLink]="['/profileuser']">ข้อมูลส่วนตัว </a>
      </li>

    </ul>
  </div>
</nav>
