<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <img
          class="icon"
          src="https://image.flaticon.com/icons/svg/2101/2101321.svg"
        />
        ประเภทรถ
      </h3>


      <div *ngFor="let dataCarType of carType">
        <div *ngIf="dataCarType.value.status === 'พร้อมใช้งาน'">
          <h4 *ngIf="dataCarType.value.status === 'พร้อมใช้งาน'">
            {{ dataCarType.value.carType }}
          </h4>
          <div *ngFor="let i of dataCarType.value.count2" class="rows">
            <div *ngFor="let data of dataCarType.value.list">
              <div *ngIf="i * 3 === data[0].index" class="imgbox">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>
              <div *ngIf="i * 3 + 1 === data[0].index" class="imgbox">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>
              <div *ngIf="i * 3 + 2 === data[0].index" class="imgbox">

                <!-- {{ data[0].imageUrl }} -->
                <img
                  class="size"
                  [src]="data[0].imageUrl"
                  width="350px"
                  height="250px"
                  style="padding: 5px;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
