
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
body{
    font-family: 'Mitr', cursive;
    padding-left: 220px;
    padding-right: 15px;
    background-color: #e8e9ea;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.03);
}
.accordion>.card .card-header {
    margin-bottom: -11px;
}
.btn-link {
    font-weight: 400;
    color:black;
    text-decoration: none;
}
.pink {
  background-color: darksalmon;
}
