
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
body{
    font-family: 'Mitr', cursive;
    padding-left: 220px;
    padding-right: 15px;
    background-color: #e8e9ea;
}

