.textBox {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
  margin-left: 40px;
   }
   .btn.submit {
    background-color: #d8e3ef;
    width: 99px;
    height: 35px;
    border-radius: 5px;
   }
   .control {
  display: grid;
}


/* input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  box-sizing: border-box;
  }

textarea{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
font-size: 14px;
box-sizing: border-box;
}
button{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
color: #000000;
font-size: 14px;
box-sizing: border-box;
} */
