<app-side-nav></app-side-nav>
<br />
<br />
<br />
<h3>
  <img src="https://image.flaticon.com/icons/svg/138/138849.svg" /> รอตรวจสอบ
</h3>
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">source</th>
      <th scope="col">destination</th>
      <th scope="col">worktype</th>
      <th scope="col">customerFirstname</th>
      <th scope="col">workDate</th>
      <th scope="col">workTime</th>
      <th scope="col">customerPhone</th>
      <th scope="col">customerLine</th>
      <th scope="col">detail</th>
      <th scope="col">status</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of job">
      <td (click)="openData(con)">
        <ng-template #con let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">ข้อมูลการจ้าง</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" (click)="buttonSave()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="control">
              <label for="typeahead-basic">ต้นทาง</label>
              <input id="typeahead-basic" type="text" class="textBox" name="source" ngModel
                [(ngModel)]="data.value.source" [disabled]="showEdit" />
              <label for="typeahead-basic">ปลายทาง</label>
              <input id="typeahead-basic" type="text" class="textBox" name="destination" ngModel
                [(ngModel)]="data.value.destination" [disabled]="showEdit" />
              <label for="typeahead-basic">ประเภทงาน</label>
              <input id="typeahead-basic" type="text" class="textBox" name="worktype" ngModel
                [(ngModel)]="data.value.worktype" [disabled]="showEdit" />
              <label for="typeahead-basic">ชื่อลูกค้า</label>
              <input id="typeahead-basic" type="text" class="textBox" name="customerFirstname" ngModel
                [(ngModel)]="data.value.customerFirstname" [disabled]="showEdit" />
              <label for="typeahead-basic"> วันที่</label>
              <input id="typeahead-basic" type="text" class="textBox" name="workDate" ngModel
                [(ngModel)]="data.value.workDate.day" [disabled]="showEdit" />
              <label for="typeahead-basic"> เวลา</label>
              <input id="typeahead-basic" type="text" class="textBox" name="workTime" ngModel
                [(ngModel)]="data.value.workTime.hour" [disabled]="showEdit" />
              <label for="typeahead-basic"> เบอร์ติดต่อ</label>
              <input id="typeahead-basic" type="text" class="textBox" name="customerLine" ngModel
                [(ngModel)]="data.value.customerPhone" [disabled]="showEdit" />
              <label for="typeahead-basic"> เบอร์ติดต่อ</label>
              <input id="typeahead-basic" type="text" class="textBox" name="customerLine" ngModel
                [(ngModel)]="data.value.customerPhone" [disabled]="showEdit" />
              <label for="typeahead-basic"> รายละเอียดการจ้าง</label>
              <input id="typeahead-basic" type="text" class="textBox" name="detail" ngModel
                [(ngModel)]="data.value.detail" [disabled]="showEdit" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn edit" (click)="buttonEdit()">
                edit
              </button>
              <button type="button" class="btn save" (click)="c('Save click')" (click)="buttonSave()">
                Save
              </button>
            </div>
          </div>
        </ng-template>

        {{ data.value.source }}
      </td>
      <td (click)="openData(con)">{{ data.value.destination }}</td>
      <td (click)="openData(con)">{{ data.value.worktype }}</td>
      <td (click)="openData(con)">{{ data.value.customerFirstname }}</td>
      <td (click)="openData(con)">
        {{ data.value.workDate.day }} /{{ data.value.workDate.month }} /
        {{ data.value.workDate.year }}
      </td>
      <td (click)="openData(con)">
        {{ data.value.workTime.hour }}:{{ data.value.workTime.minute }} น.
      </td>
      <td (click)="openData(con)">{{ data.value.customerPhone }}</td>
      <td (click)="openData(con)">{{ data.value.customerLine }}</td>
      <td (click)="openData(con)">{{ data.value.detail }}</td>
      <td (click)="openData(con)">{{ data.value.status }}</td>
      <td>
        <div class="iconGroup">
          <button type="button" class="btn icon" (click)="editJob(data)" placement="bottom" ngbTooltip="Submit">
            <i class="fas fa-check-circle"></i>
          </button>
          <button type="button" class="btn icon" (click)="delJob(data)" placement="bottom" ngbTooltip="Delete">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button class="btn icon" (click)="openMap(map)" placement="bottom" ngbTooltip="Map">
            <i class="fas fa-file-invoice-dollar"></i>
          </button>
        </div>
      </td>

      <ng-template #map let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">ตำแหน่ง</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ data.value.customerPhone }}</p>
          <agm-map [latitude]="data.value.sourceLatitude" [longitude]="data.value.sourceLongitude" [zoom]="zoom">
            <agm-marker [label]="'1'" [latitude]="data.value.sourceLatitude" [longitude]="data.value.sourceLongitude"
              [markerDraggable]="false">
            </agm-marker>
            <agm-marker [label]="'2'" [latitude]="data.value.destLatitude" [longitude]="data.value.destLongitude"
              [markerDraggable]="false">
            </agm-marker>
            <div *ngFor="let data2 of wikis">
              <div *ngIf="Addrres">
                <agm-marker [label]="data2.value.firstname" [latitude]="data2.value.addressLat"
                  [longitude]="data2.value.addressLong" [markerDraggable]="false">
                </agm-marker>
              </div>
              <div  *ngIf="currentAddrres">
                <agm-marker [label]="'current!!!'" [latitude]="data2.value.currentLat"
                  [longitude]="data2.value.currentLong" [markerDraggable]="false">
                </agm-marker>
              </div>
            </div>
          </agm-map>
        </div>
        <div class="modal-footer">
          <button (click)="showCurrentAddress('addressEmp')">ตำแหน่งปกติ</button>
          <button (click)="showCurrentAddress('currentAddressEmp')">ตำแหน่งปัจจุบัน</button>
          <button (click)="showCurrentAddress('clearAddressEmp')">ปิดแสดงตำแหน่งพนักงาน</button>
          <button type="button" class="btn save " (click)="c('Save click')">
            Save
          </button>
        </div>
      </ng-template>
      <!-- <td>
          <select>
            <option value="">------</option>
            <option [ngValue]="data2" *ngFor="let data2 of car">
              {{ data2.value.carId }}
            </option>``
          </select>
        </td> -->
    </tr>
  </tbody>
</table>

<!-- <ng-template #con let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">ข้อมูล</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary">edit</button>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="c('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template> -->