
   .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.icon {
     color: #004085;
   }
   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
   thead {
     background-color: white;
   }
   td {
     text-align: center;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }

h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
img {
  width: 45px;
}
table {
  background-color: white;
}
.control {
     display: grid;
     background-color: white;
     border-radius: 10px;
     margin-bottom: 50px;
     padding: 5px;
  }
.textBox {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #95989a;
  padding: 5px;
   }

