  .btn.icon {
     color: #004085;
   }
   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
 thead {
     background-color: white;
   }
    td {
     text-align: center;
   }
   .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }
    .iconGroup {
     display: flex;
   }
h3{
    background-color: white;
    border-radius: 5px;
    padding: 8px 20px;
  }
.icons {
  width: 45px;
}
table {
  background-color: white;
}
