<app-side-nav></app-side-nav>
<br />
<br />
<br />
<h3>
  <img class="icons" src="https://image.flaticon.com/icons/svg/1632/1632599.svg" />
  ดำเนินการแล้ว
</h3>
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">source</th>
      <th scope="col">destination</th>
      <th scope="col">worktype</th>
      <th scope="col">customerFirstname</th>
      <th scope="col">workDate</th>
      <th scope="col">workTime</th>
      <th scope="col">customerPhone</th>
      <th scope="col">customerLine</th>
      <th scope="col">detail</th>
      <th scope="col">status</th>
      <th scope="col">driver</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of job">
      <td (click)="openData(con)">
        <ng-template #con let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">ข้อมูลการจ้าง</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="typeahead-basic">ต้นทาง</label>
            <input id="typeahead-basic" type="text" class="form-control" name="source" ngModel
              [(ngModel)]="data.value.source" />
            <label for="typeahead-basic">ปลายทาง</label>
            <input id="typeahead-basic" type="text" class="form-control" name="destination" ngModel
              [(ngModel)]="data.value.destination" />
            <label for="typeahead-basic">ประเภทงาน</label>
            <input id="typeahead-basic" type="text" class="form-control" name="worktype" ngModel
              [(ngModel)]="data.value.worktype" />
            <label for="typeahead-basic">ชื่อลูกค้า</label>
            <input id="typeahead-basic" type="text" class="form-control" name="customerFirstname" ngModel
              [(ngModel)]="data.value.customerFirstname" />
            <label for="typeahead-basic"> วันที่</label>
            <input id="typeahead-basic" type="text" class="form-control" name="workDate" ngModel
              [(ngModel)]="data.value.workDate.day" />
            <label for="typeahead-basic"> เวลา</label>
            <input id="typeahead-basic" type="text" class="form-control" name="workTime" ngModel
              [(ngModel)]="data.value.workTime.hour" />
            <label for="typeahead-basic"> เบอร์ติดต่อ</label>
            <input id="typeahead-basic" type="text" class="form-control" name="customerLine" ngModel
              [(ngModel)]="data.value.customerPhone" />
            <label for="typeahead-basic"> เบอร์ติดต่อ</label>
            <input id="typeahead-basic" type="text" class="form-control" name="customerLine" ngModel
              [(ngModel)]="data.value.customerPhone" />
            <label for="typeahead-basic"> รายละเอียดการจ้าง</label>
            <input id="typeahead-basic" type="text" class="form-control" name="detail" ngModel
              [(ngModel)]="data.value.detail" />
            <label for="typeahead-basic"> บิลใบเสร็จเล่มที่</label>
            <input id="typeahead-basic" type="text" class="form-control" name="bill" ngModel
              [(ngModel)]="data.value.bill" />
            <label for="typeahead-basic"> บิลใบเสร็จเลขที่</label>
            <input id="typeahead-basic" type="text" class="form-control" name="billNo" ngModel
              [(ngModel)]="data.value.billNo" />
            <label for="typeahead-basic"> มัดจำ</label>
            <input id="typeahead-basic" type="text" class="form-control" name="deposit" ngModel
              [(ngModel)]="data.value.deposit" />
            <label for="typeahead-basic"> ยอดชำระทั้งหมด</label>
            <input id="typeahead-basic" type="text" class="form-control" name="totalPayment" ngModel
              [(ngModel)]="data.value.totalPayment" />
            <label for="typeahead-basic"> มัดจำ</label>
            <div class="text-center">
              <img [src]="data.value.billImageUrl" width="350px" height="250px" class="img-fluid" />
            </div>
            <label for="typeahead-basic"> ยอดชำระทั้งหมด</label>
            <div class="text-center">
              <img [src]="data.value.billNoImageUrl" width="350px" height="250px" class="img-fluid" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn edit">
              edit
            </button>
            <button type="button" class="btn save" (click)="c('Save click')">
              Save
            </button>
          </div>
        </ng-template>

        {{ data.value.source }}
      </td>
      <td>{{ data.value.destination }}</td>
      <td>{{ data.value.worktype }}</td>
      <td>{{ data.value.customerFirstname }}</td>
      <td>
        {{ data.value.workDate.day }} /{{ data.value.workDate.month }} /
        {{ data.value.workDate.year }}
      </td>
      <td>
        {{ data.value.workTime.hour }}:{{ data.value.workTime.minute }} น.
      </td>
      <td>{{ data.value.customerPhone }}</td>
      <td>{{ data.value.customerLine }}</td>
      <td>{{ data.value.detail }}</td>
      <td>{{ data.value.status }}</td>
      <td>{{ data.value.driver }}</td>
      <td>
        <div class="iconGroup">
          <button type="button" class="btn icon" (click)="delJob(data)" placement="bottom" ngbTooltip="Delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        <!-- </div> -->
        <!-- diglog bill ----------------------------------------------------------------------------->
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              กรุณากรอกบิลใบเสร็จ111
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="checkImageFalse()"
              (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formBillImageUrl">
              <div class="text-center">
                <img [src]="data.value.billImageUrl" width="350px" height="250px" (click)="deleteImageBill(data)"
                  *ngIf="checkImageUrlBill" />
                <div *ngIf="!checkImageUrlBill">
                  <img [src]="imgSrc" width="350px" height="250px" (click)="billfileUploader.click()" />
                  <label>Select file to upload</label>
                  <input type="file" accept="image/*" class="form-control" #billfileUploader
                    formControlName="billImageUrl" (change)="showPreview($event)" />
                  <button (click)="uploadbillImage(formBillImageUrl, data)">
                    Upload
                  </button>
                </div>
              </div>
            </form>

            <br />

            <form [formGroup]="formBillNoImageUrl">
              <div class="text-center">
                <img [src]="data.value.billNoImageUrl" width="350px" height="250px" (click)="deleteImageNoBill(data)"
                  *ngIf="checkImageUrlNoBill" />

                <div *ngIf="!checkImageUrlNoBill">
                  <img [src]="imgSrc2" width="350px" height="250px" (click)="billNofileUploader.click()" />
                  <label>Select file to upload</label>
                  <input type="file" accept="image/*" class="form-control" #billNofileUploader
                    formControlName="billNoImageUrl" (change)="showPreview2($event)" />
                  <button (click)="uploadbillNoImage(formBillNoImageUrl, data)">
                    Upload
                  </button>
                </div>
              </div>
            </form>

            <form [formGroup]="formTemplate">
              <br />

              <label for="typeahead-basic">ยอดชำระทั้งหมด</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="totalPayment"
                [(ngModel)]="data.value.totalPayment" />
              <label for="typeahead-basic">ค่ามัดจำ</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="deposit"
                [(ngModel)]="data.value.deposit" />
              <label for="typeahead-basic">บิลใบเสร็จเล่มที่</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="bill"
                [(ngModel)]="data.value.bill" />
              <label for="typeahead-basic">บิลใบเสร็จเลขที่</label>
              <input id="typeahead-basic" type="text" class="form-control" formControlName="billNo"
                [(ngModel)]="data.value.billNo" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn save" (click)="onSubmit(formTemplate, data)">
              Save
            </button>
          </div>
        </ng-template>
        <!-- review----------------------------------------------------------------------------- -->
        <ng-template #review let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">คะแนนการบริการ</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="typeahead-basic">คะแนนรีวิว: </label>
            <ngb-rating [(rate)]="data.value.rateReview"></ngb-rating> <br />
            <label for="typeahead-basic">คำติชม: </label>
            {{ data.value.review }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn save" (click)="c('Save click')">
              Submit
            </button>
          </div>
        </ng-template>
        <!-- <div class="iconGroup"> -->
          <button class="btn icon" (click)="openBill(data, content, contentEdit)" placement="bottom"
            ngbTooltip="บิลใบเสร็จ">
            <i class="fas fa-money-check-alt"></i>
          </button>
          <button class="btn icon" (click)="openReview(review)" placement="bottom" ngbTooltip="คะแนนการให้บริการ">
            <i class="far fa-comment-dots"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- edit------------------------------------------------------------------------------------------------- -->
<!-- <ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      กรุณากรอกบิลใบเสร็จ
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTemplateForEdit">

      <div class="card-body">
        <div class="text-center">
          <img [src]="data.value.billImageUrl" width="350px" height="250px" (click)="billfileUploader.click()" />
        </div>
      </div>

      <div class="card-body">
        <div class="text-center">
          <img [src]="data.value.billNoImageUrl" width="350px" height="250px" (click)="billNofileUploader.click()" />
        </div>
      </div>


      <label for="typeahead-basic">ยอดชำระทั้งหมด</label>
      <input id="typeahead-basic" type="text" class="form-control" formControlName="totalPayment"
        [(ngModel)]="data.value.totalPayment" />
      <label for="typeahead-basic">ค่ามัดจำ</label>
      <input id="typeahead-basic" type="text" class="form-control" formControlName="deposit"
        [(ngModel)]="data.value.deposit" />
      <label for="typeahead-basic">บิลใบเสร็จเล่มที่</label>
      <input id="typeahead-basic" type="text" class="form-control" formControlName="bill"
        [(ngModel)]="data.value.bill" />
      <label for="typeahead-basic">บิลใบเสร็จเลขที่</label>
      <input id="typeahead-basic" type="text" class="form-control" formControlName="billNo"
        [(ngModel)]="data.value.billNo" />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn save" (click)="onSubmit(formTemplateForEdit, data)">
      Save
    </button>
  </div>
</ng-template> -->
<!-- /////////////////////////////////////////////////////////////////////////// -->