  .btn.icon {
     color: #004085;
   }
   .iconGroup {
     display: flex;
   }
   th {
     text-align: center;
   }
 thead {
     background-color: #d8e3ef;
   }
    td {
     text-align: center;
   }
   .modal-header {
     background-color: #d8e3ef;
   }
   .btn.save {
     background-color: #d8e3ef;
   }
   .btn.edit {
      background-color: #d0cfcf;
   }
    .iconGroup {
     display: flex;
   }
