<div class="container-fluid">
   <div class="row">
    <div class="col-md-2">
<app-side-nav></app-side-nav>
    </div>
    <div class="col-md-10">
<h3>
    <img src="https://image.flaticon.com/icons/svg/806/806647.svg" />
    ปรับแต่งเว็บแอปพลิเคชั่น
</h3>
<ngb-tabset>
  <ngb-tab title="หน้าแรก">
    <ng-template ngbTabContent>
      <app-homepage></app-homepage>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="บริการ">
    <ng-template ngbTabContent>
      <app-service></app-service>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ประเภทรถ">
    <ng-template ngbTabContent>
      <app-cartype></app-cartype>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ผลงาน">
    <ng-template ngbTabContent>
      <app-portfolio></app-portfolio>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ช่องทางการชำระเงิน">
    <ng-template ngbTabContent>
      <app-bank></app-bank>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="เกี่ยวกับเรา">
    <ng-template ngbTabContent>
      <app-about></app-about>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
</div>
</div>
